<robot name = "ar_tag">
    <link name="simple_box_base_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.0" />
            <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.026041666667"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
        </collision>
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://ar_tag_demo/meshes/ar_tag_0_to_3.dae"/>
            </geometry>
        </visual>   
    </link>
    
    <gazebo reference="simple_box_base_link">
        <kp>100000.0</kp>
        <kd>100000.0</kd>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <fdir>1 0 0</fdir>    
    </gazebo>
</robot>
